*actions
*lock
*logs
*notifications
*out
*tools
.DS_Store
.env
.git
.mypy_cache
.pytest_cache
.sourcery.yaml
.tox
.trunk
.venv
.vscode
env
node_modules
plugins
tmp
user.yaml
user_trunk.yaml
vendor
venv
.pnp.*
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions